@CHARSET "UTF-8";
html,body,#root,.App{
margin: 0px;
padding: 0px;
width: 100%;
height: 100%;
box-sizing: border-box;
}
body{
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
monospace;
}
.wrap{
margin: 0px;
padding: 0px;
width: 100%;
height: 100%;
box-sizing: border-box;
}
html,body,#viewdiv,#cesiumDiv{
margin:0px;
padding:0px;
height:100%;
width:100%
}
.cesium-viewer-bottom{/*去除logo*/
display:none!important; 
visibility:hide!important; 
} 
.distance-legend{
bottom: 1%;
position: absolute;
}
a:hover{
text-decoration:none;
cursor: pointer; 
}
.wrap{
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
}
